<div class="index">

<h3>Welcome to:</h3>
<h1>That's My Favorite Wrestler</h1>

<%= flash[:error] %>

<%= button_to "Sign In", '/login', method: :get%>
<%= button_to "Create a User Page", '/users/new', method: :get%>

</div>