
<h1>Name: <%= @user.name %></h1>
<h1>Bio: <%= @user.bio %></h1>

#show their fav wrestlers
#show their fav moves

<p><%= link_to "Back to User Profiles", users_path %> </p>
<p><%= link_to "Sign out", logout_path, data: { method: :delete } %></p>

