<p><%= link_to "Add a Move to the Website", new_move_path %> // <%= link_to "Random Move!", move_path(@random_move) %> </p>

<h1> Moves: </h1>

<% @moves.each do |move| %>
<h3> <%= link_to move.name, move_path(move.id) %> </h3>
<% end %>