
<h1>Name: <%= @wrestler.name %></h1>
<h3>Bio: <%= @wrestler.bio %></h3>
<img src=<%= @wrestler.img_url %> alt="wrestler" ismap>


<p><%= link_to "Back to Wrestler Profiles", wrestlers_path %> </p>




